<form
    [formGroup]="formGroup"
    (ngSubmit)= "guardar()">
    
    <div class="form-group">
        <label for="nombre">Plato</label>
        <input 
        type="text" 
        class="form-control" 
        name="nombre" 
        placeholder="Plato..." 
        formControlName="nombre">
    </div>

    <div class="form-group">
        <label for="desc">Descripcion</label>
        <input 
        type="text" 
        class="form-control" 
        name="desc" 
        placeholder="Descripcion..." 
        formControlName="desc">
    </div>

    <div class="form-group">
        <label for="img">Imagen</label>
        <input 
        type="text" 
        class="form-control" 
        name="img" 
        placeholder="Imagen..." 
        formControlName="img">
    </div>

    <div class="form-group">
        <label for="nombre">Precio</label>
        <input 
        type="number" 
        class="form-control" 
        name="precio" 
        placeholder="Precio..." 
        formControlName="precio">
    </div>
    <div class="form-group">
        <label for="seleccion">Seleccionar</label>
        <input 
        type="checkbox" 
        class="" 
        name="seleccion" 
        placeholder="Precio..." 
        formControlName="seleccion">
    </div>
    <button type="submit"  class="btn btn-primary">Añadir</button>
</form>