<mgl-map
[style]="style" [zoom]="[2]"
>
<mgl-marker [lngLat]="[-70.814664,-38.552995]">
    <div
    onclick="alert('Hola')"
    class="marker"
    >
    Aqui estamos!!!
    </div>
</mgl-marker>
</mgl-map>