<div class="card">
    <img div class="card-img-top" src="" alt="{{bebida.imagenUrl}}">
    <div class="card-body">
        <h5 class="card-tittle">{{bebida.nombre}}</h5>
        <p class="card-text">{{bebida.desc}}</p>
    </div>
    <div class="card-body">
        {{bebida.precio}}
    </div>
</div>