<div class="card-content" [@esFavorito]=" plato.fav ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img class="card-img-top" src="https://www.cocinavital.mx/wp-content/uploads/2017/02/test-de-comida.jpg" alt="">
        <span><h4>id: {{plato.id}}</h4></span>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{plato.nombre}}</h5>
        <p class="card-text">{{plato.desc}}</p>
        <p>Precio: {{plato.precio}}€</p>
    <!-- <ul class="list-group list-group-flush">
        <li class="list-group-item">Ingredientes</li>
    </ul>
    <p>Salsa</p>
    <ul>
        <li 
        *ngFor="let s of plato.salsas">
            <span [ngSwitch]="s">
                <i *ngSwitchCase="'ketchup'" style="color: red;">{{s}}</i>
                <i *ngSwitchCase="'mahonesa'" style="color: blue;">{{s}}</i>
                <i *ngSwitchCase="'agridulce'" style="color: yellow;">{{s}}</i>
                <i *ngSwitchCase="'bbq'" style="color: brown;">{{s}}</i>
                <i *ngSwitchDefault>Sin Salsa</i>
            </span>
        </li>
    </ul> -->
        <div class="favorito col-md-3">
            <p *ngIf=(plato.fav) style="color: blue;">FAVORITO</p>
        </div>
        <div class="card-body col-md-3">
            <button 
            class="btn btn-success" 
            (click)="favorito()"
            appTrackearClick
            data-trackear-tags="Seleccionado una vez como favorito"
            >Favorito </button>
        </div>
        <div class="">
            <a class="btn btn-info" [routerLink]="['/platos']">Ver Ubicacion</a>
        </div>
        
    </div>
    <!-- <div class="row card-body"  >
        <div *ngIf="!plato.seleccion" class="elegir col-md-3" >
            <button class="btn btn-success" (click)="elegir()">Elegir</button>
        </div>
        <div *ngIf="plato.seleccion" class="quitar col-md-3">
            <button class="btn btn-danger" (click)="quitar()">Quitar</button>
            <p></p>
        </div>

    </div> -->
    
</div>


