<div class="card-content">
    <div class="card-img">
        <img class="card-img-top" src="https://www.cocinavital.mx/wp-content/uploads/2017/02/test-de-comida.jpg" alt="">
        <span><h4>id: {{plato.id}}</h4></span>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{plato.nombre}}</h5>
        <p class="card-text">{{plato.desc}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Ingredientes</li>
    </ul>
    <p>Salsa</p>
    <ul>
        <li 
        *ngFor="let s of plato.salsas">
            <span [ngSwitch]="s">
                <i *ngSwitchCase="'ketchup'" style="color: red;">{{s}}</i>
                <i *ngSwitchCase="'mahonesa'" style="color: blue;">{{s}}</i>
                <i *ngSwitchCase="'agridulce'" style="color: yellow;">{{s}}</i>
                <i *ngSwitchCase="'bbq'" style="color: brown;">{{s}}</i>
                <i *ngSwitchDefault>Sin Salsa</i>
            </span>
        </li>
    </ul>
    <div class="card-body">
        {{plato.precio}}
    </div>
    <div class="card-body elegido">
        Seleccion plato {{plato}}
    </div>

    

</div>