<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <span class="anchor" id="regComanda"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h2 class="mb-0">Comanda</h2>
                </div>
                <div class="card-body">
                    <app-form-comida
                        (addComida)="addPlato($event)"
                    ></app-form-comida>
                </div>
            </div>
        </div>
    </div>
</div>
