<div class="container content">
  
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
      <p> {{ time| async}} </p>
        </div>
        <div class="col-sm-5 offset-3">
          <app-login></app-login>
        </div>
        <div class="nav nav-bar ">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
          <a class="nav-link"  [routerLink]="['/comanda']">Comanda</a>
          <a class="nav-link"  [routerLink]="['/menu']">Menu</a>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <h1>{{title}}</h1>
    
  </div>
  <router-outlet></router-outlet>  
</div>