<div class="container content">
    <hr class="mb-5">
    <div class="row row-flex platos">
        <app-platos
            *ngFor="let p of platos"
            [plato] = "p"
        ></app-platos>
    </div>
</div>
