<div class="container content" >
  <div class="header">
    <div class="navLinks">
      <ul>
        <li>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/platos']">Platos</a>
        </li>
      </ul>
      
    </div>
    <div class="title"></div>
  </div>
  <div class="row">
    <h1>{{title}}</h1>
  </div>

  <router-outlet></router-outlet>
</div>
