<div class="container content">
    <div class="row">
        <div class="col-md-5 ">
        <span class="anchor" id="regComanda"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h2 class="mb-0">Tomando Nota</h2>
                </div>
                <div class="card-body">
                    <app-form-comanda
                        (onItemAdded)="agregado($event)"
                    ></app-form-comanda>
                </div>
            </div>           
        </div>
        
        <div class="col-md-3">
            
            <h4 class="card-header">Busquedas</h4>
            
            <div class="search">
                <form
                [formGroup]="fg"
                >
                <input type="text"
                placeholder="Busqueda..."
                id="search"
                formControlName="search">
                </form>
                <br>
                <ul>
                    <li class=""
                    *ngFor="let s of searchResults">{{s}}</li>
                </ul>
            </div>
        
        </div>
        <div class="col-md-4">
            <h5 class="card-header">Try by ID</h5>
            <form>
                <input type="number" id="id" name="id" #id>
                <button class="btn btn-primary" (click)="selectById(id.value)">Elegir</button>
            </form>
        </div>
        <!--
        <div class="col-md-4">
            <h5 class="card-header">Logs</h5>
            <ul>
                <li class=""
                *ngFor="let u of updates"
                >{{u}}
                </li>
            </ul>
        </div>
    -->
    </div>
   

    <div class="row row-flex">
        <app-comida 
        *ngFor="let c of comApi.getAll()"
        [plato]="c"
        (clicked)="elegido($event)"
        (fav)="favorito($event)"
        appEspiame
        ></app-comida>
    </div>
    <div class="nota">

    </div>
</div>